.form {
    margin-bottom: 48px;
}

.form__container {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
}

.form__action {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 620px;
    width: 100%;
}

form input {
    border-bottom: 1px solid #4A3036;
    padding-bottom: 24px;
}

form input :last-child {
    border: none;
}

.form__action-btn {
    color: #FFF;
    text-align: center;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #D6A2AD;
    max-width: 346px;
    width: 100%;
    height: 60px;
    margin: 0 auto;
}

form input submit {
    background-color: transparent;
}