.services {
    margin-bottom: 96px;
}

.services__title {
    color: #4A3036;
    font-family: Prata;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 32px;
    padding-left: 40px;
}

.services__container {
    display: flex;
    gap: 40px;
}

.services__container-left {
    border: 1px solid #4A3036;
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.services__container-left button,
.services__container-right button {
    color: #FFF;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
    background-color: #D6A2AD;
    margin: 0 auto;
    padding: 7px 35px;
    margin-bottom: 16px;
}

.services__container-left-title {
    color: #4A3036;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
    padding-top: 24px;
    padding-left: 40px;
    margin-bottom: 8px;
}

.services__container-left span,
.services__container-right span {
    display: block;
    margin-bottom: 8px;
    color: #4A3036;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding-left: 40px;
}

.services__container-right {
    border: 1px solid #4A3036;
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .services__container {
        flex-wrap: wrap;
    }
}